{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container" >
<center>
<div class="card" style="margin: 30px; max-width: 500px;">
  <div class="card-header bg-primary text-white">
    <div class="card-body">
      Login Into The Portal
    </div>
  </div>

  {% if error_message %}
    <script>
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: '{{ error_message }}',
      });
    </script>
  {% endif %}

  <form method="post" class="card-body"> {# Use 'card-body' class here #}
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Login</button>
  </form>
</div>
</center>
</div>
{% endblock content %}